.Login {
  background: url('https://www.jakpost.travel/wimages/large/147-1476565_back-to-17-popcorn-wallpapers-hd-popcorn-high.jpg'); 
  background-size: cover;
  height: 100vh;
  display: flex;
  text-shadow: 1px 1px 3px black;
}

.login-form {
  backdrop-filter: blur(15px);
  background-color:#08435e;
  border-radius: 30px;
  box-shadow: inset 0px 0px 13px 0px #000000c2, inset 0px 0px 14px 3px #052c3e, inset 0px 1px 20px 12px #227296; 
  color: #ede9ec;
  justify-self: center;
  margin: auto;
  max-height: 43%;
  padding: 30px;
  max-width: 26%;
  min-width: 300px;
}

.login-input {
  margin-bottom: 20px;
  width: 100%;
}

.name-form,
.email-form,
.password-form {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.name,
.email,
.password {
  font-size: 1.3em;
  margin-right: 5%;
}

.email-input, 
.name-input {
  margin-left: 10%;
}

.password-input, 
.email-input, 
.name-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ede9ec;
  box-shadow: inset 4px 7px 13px 0px #00000061, inset -2px -2px 4px 0px #8f8f8f1c;
  border-radius: 30px;
  color: #ede9ec;
  font-size: 16px;
  height: 40px;
  margin-top: 5px;
  outline: none;
  padding-left: 20px;
  width: 70%;
}

.login-btn {
  background: #991e29;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 7px 13px 0px #000000c2, inset 4px 7px 13px 0px #fb5858;
  color: #ede9ec;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  margin-top: 4%;
  outline: none;
  width: 100%;
}

.login-btn:hover {
  box-shadow: inset 4px 7px 13px 0px #000000c2;
}

.login-error {
  color: red;
  font-size: 1.3em;
  margin-top: 4%;
  font-style: italic;
  font-weight: 400;
}
