* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.home-page {
  height: 100vh;
}

.login-page {
  height: 100vh;
}

.home-page-logged-in {
  height: 100vh;
}

.movie-dets-and-form {
  height: 100vh;
  background-color: #991E29;
}


