.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: solid 1px red; */
  background-color: #08435E;
  height: 9%;
  align-items: center;
}

h1 {
  margin-right: 50%;
  font-size: 2.2em;
  color: #EDE9EC;
}

.login-btn {
  padding: 13% 30% 13% 30%;
  font-size: 1.5em;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.login-btn:hover {
  background-color: #A1DCF7;
  /* border: #12A1E2; */
}


