.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #08435E;
  height: 9%;
  align-items: center;
}

h1 {
  margin-right: 50%;
  font-size: 2.2em;
  color: #EDE9EC;
}

.login-btn {
  background-color: #EDE9EC;
  padding: 13% 30% 13% 30%;
  font-size: 1.5em;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  box-shadow: inset 1px 2px 15px 0px #ababab, inset -4px -3px 10px #08435E;
}

.login-btn:hover {
  background-color: #A1DCF7;
}


