.RateMovieForm {
  align-items: center;
  background-color: #08435E;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-left: 31%;
  width: 40%;
}

.rate-this-movie {
  color: #EDE9EC;
  font-size: 2em;
}

.rate-movie-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 90%;
}

.rate-movie-select {
  align-items: center;
  color: #EDE9EC;
  display: flex;
  flex-direction: row;
  height: 35%;
  justify-content: center;
  margin-top: 3%;
  width: 40%;
}

.select-stars {
  font-size: 1.4em;
  height: 85%;
  margin-right: 5%;
  width: 33%;
}

.out-of-ten-stars {
  font-size: 1.4em;
}

.submit-stars {
  background-color: #EDE9EC;
  border: none;
  border-radius: 6px;
  box-shadow: inset 1px 2px 15px 0px #ababab, inset -4px -3px 10px #08435E;
  cursor: pointer;
  font-size: 1.3em;
  height: 40%;
  margin-top: 4%;
  width: 23%;
}
