.MovieCard {
  align-items: center;
  background-color: #ede9ec;
  border-radius: 15px;
  box-shadow: inset 6px 5px 15px 0px #ABABAB, inset -4px -3px 15px #08435E;
  display: flex;
  justify-content: center;
  margin: 1%;
  width: 48%;
}

.poster-img {
  height: 93%;
  width: 30%;
}

.movie-name-rate {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  width: 45%;
}

.movie-title {
  font-size: 2.5em;
}

.avg-rating {
  font-size: 1.6em;
  margin-top: 2%;
}

.view-movie-dets {
  background-color: #08435E;
  border: none;
  border-radius: 6px;
  color: #EDE9EC;
  cursor: pointer;
  font-size: 1.2em;
  height: 25%;
  margin-top: 8%;
  width: 60%;
}

.view-movie-dets:hover {
  background-color: #0E78AA;
}
